body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    text-align: center;
}

#board {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 20px auto;
}
